nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.icon {
    width: 25px;
}

#homepage-cta {
    justify-content: center;
}