body {
    background-color: #F5F2ED;
    color: #000000;
    font-family: Helvetica, sans-serif;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

#homepage {
    color: #F5F2ED;
} 

#homepage ul {
    color: #F5F2ED;
} 

#homepage main a {
    padding: 10px;
    border: 1px solid #F5F2ED;
}