/* HEADER STYLING */

nav {
    margin-bottom: 15vh;
  }

nav section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav div {
    display: flex;
    gap: 15px;
}


/* CART STYLING */

#cartMenu, #cartPrice, #cartContents {
    box-sizing: border-box;
}

#cartMenu {
    
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px 25px;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    transform: translate(100%);
    transition: transform 0.3s ease;
    background-color: rgb(20, 20, 20);
    color: antiquewhite;
}

#cartMenu.active {
    transform: translate(0)
}

#cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

#cartHeader .icon {
    height: 20px;
}

#cartContents, #checkoutCartContents {
    padding: 20px 0;
    flex-grow: 1;
    overflow-y: auto;
}

#cartContents > div, #checkoutCartContents > div {
    padding: 20px 0;
    display: flex;
}

#cartContents img, #checkoutCartContents img {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    object-fit: cover;
}

#cartContents > div > div, #checkoutCartContents > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

#cartPrice {
    display: flex;
    flex-direction: column;
}

#cartPrice > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

#cartPrice > button {
    margin-top: 20px;
}

/* UNIVERSAL */

body {
    padding: 20px;
}

.icon {
    height: 25px;
}


/* HOMEPAGE */

#homepage main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh; 
    text-align: center;
}

#homepage main > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15px;
    flex-wrap: wrap;
    text-align: left;
}

.bgImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}


/* PRODUCT LISTING / SEARCH RESULTS*/

#results img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 10px;
}

#results ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.productDetails {
    display: flex;
    justify-content: space-between;
}

.productNameType {
    display: flex;
    flex-direction: column;
}

.productNameType p {
    margin: 5px 0;
}

.productPrice {
    margin: 0;
}

/* PRODUCT PAGE */

#product {
    display: flex;
    height: 75vh;
    max-width: 100vw;
    box-sizing: border-box;
}

#product > img {
    width: 50%;
    object-fit: cover;
}

#product section {
    width: 50%;
    padding: 40px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#product section > div {
    margin-top: auto;
    border-top: 1px solid;
}

.productOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid;
}

#addToCart {
    margin-top: 20px;
    width: 100px;
}


/* CHECKOUT */

#checkoutPage > nav {
    margin-bottom: 5vh;
}

#checkoutPage > main {
    display: flex;
}

#checkoutPage > main > div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
}

#checkoutCart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


#checkoutPage > main section {
    display: flex;
}

#checkoutPage #checkoutCartDiv {
    border-left: 1px solid;
}

#checkoutPage h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

#checkoutPage input {
    width: 100%;
    box-sizing: border-box;
}

#checkoutCartPrice > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#checkoutPage #total {
    border-top: 1px solid;
}


/* CONFIRMATION */

#confirmationPage main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmationPage main > a {
    margin-bottom: 50px;
}

#confirmationPage #orderDetails {
    display: flex;
}

#confirmationPage #orderDetails > div {
    width: 20vw;
    border: 1px solid;
    padding-left: 20px;
}