/* UNIVERSAL SETTINGS */

body {
    padding: 20px;
    padding-top: 10vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.icon {
    height: 25px;
}

main input, main select {
    background: transparent;
    font-size: inherit;
    padding: 5px;
}

main select {
    border: none;
}

/* HEADER STYLING */

nav {
    position: fixed;
    padding: 20px;
    top: 0px;
    left: 0px;
    width: calc(100%);
    z-index: 500;
}

#menuButtonOpen, #menuButtonClose, #mobileLogo {
    display: none;
    cursor: pointer;
}

nav section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav div {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 600px) {
    nav section {
        position: relative;
    }
    
    #menuButtonOpen, #menuButtonClose {
        display: block;
    }
    
    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px 25px;
        background-color: rgb(20, 20, 20);
        color: antiquewhite;
        transform: translate(-100%);
        transition: transform 0.3s ease;
    }
    
    nav ul.active {
        transform: translate(0);
    }
    
    .logo {
        display: none;
    }
    
    .mobileLogo {
        margin-top: auto;
        padding-top: 40px;

    }

}


/* CART STYLING */

#cartMenu,
#cartPrice,
#cartContents,
#checkoutCart {
    display: flex;
    flex-direction: column;
}

#cartMenu {
    position: fixed;
    padding: 20px 25px;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    transform: translate(100%);
    transition: transform 0.3s ease;
    background-color: rgb(20, 20, 20);
    color: antiquewhite;
    z-index: 1000;
}

#cartMenu.active {
    transform: translate(0);
}

#cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

#cartHeader .icon {
    height: 20px;
}

#cartContents,
#checkoutCartContents {
    padding: 20px 0;
    flex-grow: 1;
    overflow-y: auto;
}

#cartContents > div,
#checkoutCartContents > div {
    padding: 20px 0;
    display: flex;
}

#cartContents img,
#checkoutCartContents img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
}

#cartContents > div > div,
#checkoutCartContents > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

#cartPrice > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

#cartPrice > button {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    #cartMenu {
        position: fixed;
        width: 100vw;
    }

        #cartContents {
        padding: 20px 0;
        flex-grow: 1;
        overflow-y: auto;
    }

    #cartContents > div {
        display: flex;
        flex-direction: column;
    }

    #cartContents img {
        width: 100vw;
        object-fit: cover;
    }

    #cartContents > div > div {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }
}


/* HOMEPAGE */

#homepage main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh; 
    text-align: center;
}

#homepage main > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15px;
    flex-wrap: wrap;
    text-align: left;
}

.bgImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}


/* PRODUCT LISTING / SEARCH RESULTS */

#resultsPage {
    padding-top: 20vh;
}

#results img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #results img {
        width: 40vw;
        height: 40vw;
        object-fit: cover;
        margin-bottom: 10px;
    }
}

#results ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.productDetails {
    display: flex;
    justify-content: space-between;
}

.productNameType {
    display: flex;
    flex-direction: column;
}

.productNameType p {
    margin: 5px 0;
}

.productPrice {
    margin: 0;
}


/* PRODUCT PAGE */

#productPage {
    padding-top: 20vh;
}

#product {
    display: flex;
    height: 75vh;
    max-width: 100vw;
}

#product > img {
    width: 50%;
    object-fit: cover;
}

#product section {
    width: 50%;
    padding: 40px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

#product section > div {
    margin-top: auto;
    border-top: 1px solid;
}

.productOptions {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

.productOptions > select, .productOptions >input {
    width: 10vw;
}

#addToCart {
    margin-top: 20px;
    width: 100px;
}

@media screen and (max-width: 600px) {
    #product {
        display: flex;
        flex-direction: column;
        height: 75vh;
        max-width: 90vw;
    }

    #product > img {
        width: 90vw;
        height: 90vw;
        object-fit: cover;
        box-sizing: border-box;
    }

    #product section {
        width: 90vw;
        padding-top: 50px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    .productOptions > select, .productOptions >input {
        width: 50vw;
    }
    
    #product section > div {
        margin-top: 50px;
    }
}


/* CHECKOUT */

#checkoutPage > nav {
    margin-bottom: 5vh;
}

#checkoutPage > main {
    display: flex;
}

#checkoutPage > main > div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
}

#checkoutPage > main section {
    display: flex;
    gap: 5px;
}

#checkoutPage #checkoutCartDiv {
    border-left: 1px solid;
}

#checkoutPage h1,
#checkoutCartDiv h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

#checkoutPage input {
    width: 100%;
}

#checkoutCartPrice > div {
    display: flex;
    justify-content: space-between;
}

#total {
    border-top: 1px solid;
}

@media screen and (max-width: 600px) {
    #checkoutPage > main {
        display: flex;
        flex-direction: column;
    }
    
    #checkoutPage > main > div {
        width: 95vw;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-left: 0;
    }
    
    #checkoutPage > main section {
        display: flex;
        gap: 5px;
    }
    
    #checkoutPage #checkoutCartPrice {
        border-left: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #F5F2ED;
        z-index: 999;
        padding: 20px;
    }

    #checkoutPage #checkoutCartContents {
        display: none;
    }
}


/* ORDER CONFIRMATION */

#confirmationPage main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmationPage main > a {
    margin-bottom: 50px;
}

#confirmationPage #orderDetails {
    display: flex;
}

#confirmationPage #orderDetails > div {
    width: 20vw;
    border: 1px solid;
    padding-left: 20px;
}

#confirmationPage #checkoutCart {
    width: 30vw;
}

#checkoutCartDiv {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    #confirmationPage main {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #confirmationPage main > a {
        margin-bottom: 50px;
    }
    
    #confirmationPage #orderDetails {
        width: 100vw;
        display: flex;
    }
    
    #confirmationPage #orderDetails > div {
        width: 45vw;
        border: 1px solid;
    }

    #confirmationPage #checkoutCart {
        width: 100vw;
    }
}